
<div class="row justify-content-center">
  <div class="col-auto fondo_negro title_rounded pt-3 m_auto titulo">
    <p class="" >{{title}}</p>
  </div>
</div>

<div class=" centrado "  >
  <!-- si se omite el siguiente row permite otro centrado distinto -->
  <div class="row">
    <mat-list>
      <mat-list-item>
        <button class="ccssb normal">Normal</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('normal')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb negro">Negro</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('negro')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb azul">Azul</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('azul')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb verde">Verde</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('verde')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb rojo">Rojo</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('rojo')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb naranja">Naranja</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('naranja')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb amarillo">Amarillo</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('amarillo')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="row mt-2">
    <mat-list>
      <mat-list-item>
        <button class="ccssb fucsia">Fucsia</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('fucsia')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb lila">Lila</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('lila')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb marron">Marrón</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('marron')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb rojoB">RojoB</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('rojoB')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb verdeB">VerdeB</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('verdeB')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb rosa">Rosa</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('rosa')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item>
        <button class="ccssb azulB">AzulB</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-icon-button class="m_auto" (click)="getCSS('azulB')">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

