mat-toolbar {
background-color:rgba(0,0,0,.7) ! important
}
mat-toolbar p{
  font-size:30px !important;
  margin:0 auto;
  color:white;
}

/deep/ .mat-tooltip.mat_tooltip2{
  background-color: rgba(0,0,0,.8);
}

.fondo_negro{
  background-color:rgba(0,0,0,0.5);
}
.fondo_blanco5{
  background-color:rgba(255,255,255,.2);
  border-radius:10px; border:lightblue 1px solid;
  padding:5px;

}

.title_rounded{
  border-radius:10px;
}

.al_justify{
  text-align:justify;
  word-wrap: break-word;
}

.m_auto{
  margin:0 auto;
}

.centrado{
  text-align:center;
}

.bold{
  font-weight: bold;
}

.icon_router{
  color:#000;
  background-color: #FFF;
  outline:none;
  /*font-size:40px;*/
}
.logo{
  background-image:url("../../../assets/img/customcssbutton_logo3.png");
  width:300px;
  height:100%;
  background-size:100%;
  background-position:center center;
  background-repeat:no-repeat;

}

.logo2{

  /*width:100%;
  height:100%;*/

}

.fam-CgBernhardtBd a{
  font-family:"CgBernhardtBd";
  font-weight: bold;
  color:white;
  font-size:30px;
  text-decoration:none;
}

/deep/ .mat-bottom-sheet-container{
  /*width:50%; height:500px;*/
  max-width:600px;height:300px;
  margin:auto;
  padding:20px;
  background-color:rgba(0,0,0,.8);
}

/deep/ .mat-tab-label{
  color:white ;

}

.panel_temp{
  position:absolute; top:200px;
  width:100%;
  transition:z-index 0.1s step-start, opacity 1.5s linear;
  opacity:0;
  z-index:0;

}
.info_temporal{
    z-index:1001;
    color:white;
    background:rgba(0,0,0,.8);
    padding:17px 20px 7px 20px;
    border-radius:10px;
    font-weight: bold;
    text-align:center;
}
.info_temporal p{
    font-size:15px;
}



@media (max-width: 600px) {
  .logo{
    width:250px;
  }

}
@media (max-width:540px){
  .logo{
    width:200px;
  }
  .mat-mini-fab{
    width:25px;
  }
}

@font-face {
  font-family: CgBernhardtBd;
  src: url("../../../assets/shared/font/CgBernhardtBd.ttf");
}

