
<div class=" fondo_negro m-2 text-white p-1 title_rounded" *ngIf="text=='hola'">
  <p class="text-center pt-2">Predefinidos</p>
  <p class="al_justify ml-2 mr-2">
    CustomCSSButton ofrece un conjunto de botones predefinidos, de tamaño intermedio, que permite la compatibilidad en distintas resoluciones. Incorpora una animación por defecto obteniendo un botón con un estilo realista y original.</p>
</div>
<div class=" fondo_negro m-2 text-white p-1 title_rounded" *ngIf="text=='CustomComponent'">
  <p class="text-center">Personalizar</p>
  <ol>
    <li>Introducir nombre</li>
    <li>Seleccionar tamaño</li>
    <li>Activar zona a pintar (fondo, texto, sombra)</li>
    <li>Seleccionar el color con la paleta interactiva</li>
    <li>Pulsar OK</li>
    <li>Comprobar la animación con el botón de muestra</li>
    <li>Pulsar icono de visibilidad (ojo)</li>
    <li>Pulsar botones para copiar código HTML y CSS al portapapeles</li>
  </ol>
  <p class="al_justify mt-3">
  </p>

</div>
<p>{{text}}</p>
